.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}
.product{
  border: 3px black solid;
  margin: 5px 0 5px 0;
  display: inline-flex;
  width: 100%;
}
.caja{
  margin: 0 5px 0 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .caja img {
  max-height: 150px;   /* ajusta la altura a lo que quieras */
  width: auto;         /* mantiene proporción */
  object-fit: contain; /* hace que la imagen no se deforme */
  display: block;
  margin: 0 auto;      /* la centra horizontalmente */
}
.caja .titulo{
  font-weight: bold;
}
.ProductDetailsPage{
  justify-content: center;
  align-content: center;
}
.imagenproduct{
  justify-self: center;
  margin: 15px;
  }
  .category{
    margin: 10px;
    padding: 5px;
    background-color: blue;
    color: white;
    border: 1px black solid;
    border-radius: 10%;
  }
  .textos{
    margin: 5px;
  }
  .descprice{
    display: inline-flex;
    justify-content: center;
  }